body {
    font-family: Arial, sans-serif;
    background: #ffffff;
    padding: 20px;
}
h2, h3 {
    text-align: center;
}
table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
}
th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}
button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background: #0078d7;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #005fa3;
}
label {
    margin: 0 10px;
}
